<a href="https://colab.research.google.com/github/adukeshav2021/Anly_560/blob/main/Cw5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
library(dplyr)

In [ ]:
%%R
data_raw <- read.csv('/content/drive/MyDrive/ANLY560/lab4.csv')

In [ ]:
%%R
data <- data_raw

In [ ]:
%%R
str(data)

In [ ]:
%%R
unique(data$is_actionable)

[1] "false" "true"

In [ ]:
%%R
data <-
  data%>%
  filter(is_actionable == 'true')

In [ ]:
%%R
data <-
  data%>%
  filter(!is.na(zip_code))%>%
  filter(!is.na(zip_4))

In [ ]:
%%R
data <- 
  data %>%
  select(
      objectid,
      total_due,
      zip_code,
      zip_4)

In [ ]:
%%R
str(data)

'data.frame':	33353 obs. of  4 variables:
 $ objectid : int  2479710 2479711 2479712 2479722 2479724 2479728 2479730 2479732 2479733 2479735 ...
 $ total_due: num  449.8 8507.4 918.5 66.2 1087.1 ...
 $ zip_code : int  19134 19134 19134 19134 19134 19134 19134 19134 19134 19134 ...
 $ zip_4    : int  4038 3923 3923 4003 4029 4115 3553 3612 3626 4114 ...

In [ ]:
%%R
nrow(data) == length(unique(data$objectid))

[1] TRUE

In [ ]:
%%R
sum(data$total_due)

[1] 210983873

In [ ]:
%%R
data <-
  data %>%
  group_by(zip_code,zip_4) %>%
  summarise(
      total = sum(total_due),
      avg = median(total_due)
  )

`summarise()` has grouped output by 'zip_code'. You can override using the `.groups` argument.

In [ ]:
%%R
data

# A tibble: 15,748 × 4
# Groups:   zip_code [48]
   zip_code zip_4   total     avg
      <int> <int>   <dbl>   <dbl>
 1    19102  1101 166976.  83488.
 2    19102  1110  16320.  16320.
 3    19102  1121 161887. 161887.
 4    19102  1421   6226.   6226.
 5    19102  1505  52450.  52450.
 6    19102  2545  73048.  73048.
 7    19102  2548  14959.  14959.
 8    19102  2549  34048.  17024.
 9    19102  3724 326589. 326589.
10    19102  3810  60903.  30451.
# … with 15,738 more rows

In [ ]:
%%R
data <-
 data %>%
  group_by(zip_code) %>%
  mutate(
      rank = row_number(-total)) %>%
  filter(rank < 4)  %>%  
  arrange(zip_code, rank)

In [ ]:
%%R
data %>%
  filter(rank == 1)

# A tibble: 48 × 5
# Groups:   zip_code [48]
   zip_code zip_4    total      avg  rank
      <int> <int>    <dbl>    <dbl> <int>
 1    19102  4223  461709.    4233.     1
 2    19103  6305  247298.  247298.     1
 3    19104  3104 1296604. 1296604.     1
 4    19106  2104  292604.  292604.     1
 5    19107  1301  539223.  269611.     1
 6    19111  4629  128625.  128625.     1
 7    19112  1612  136407.  136407.     1
 8    19114  3232   63684.   31842.     1
 9    19115  3801   80012.   19656.     1
10    19116  2108   68465.   18856.     1
# … with 38 more rows

In [ ]:
%%R
data

# A tibble: 140 × 5
# Groups:   zip_code [48]
   zip_code zip_4    total      avg  rank
      <int> <int>    <dbl>    <dbl> <int>
 1    19102  4223  461709.    4233.     1
 2    19102  3724  326589.  326589.     2
 3    19102  1101  166976.   83488.     3
 4    19103  6305  247298.  247298.     1
 5    19103  4902  201415.  201415.     2
 6    19103  4808  172279.   86140.     3
 7    19104  3104 1296604. 1296604.     1
 8    19104  1415  441423.  220712.     2
 9    19104  1857  152865.  152865.     3
10    19106  2104  292604.  292604.     1
# … with 130 more rows

In [ ]:
%%R

In [ ]:
%%R
write.csv(result[,c("row_number","label")], '/content/drive/MyDrive/ANLY560/results.csv')