<a href="https://colab.research.google.com/github/adukeshav2021/Anly_560/blob/main/Cw5python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_raw = pd.read_csv('/content/drive/MyDrive/ANLY560/lab4.csv')

In [ ]:
data = data_raw

In [ ]:
print(len(data))
data.dtypes

In [ ]:
data.is_actionable.unique()

array([False,  True])

In [ ]:
data = data[data.is_actionable]

In [ ]:
print(len(data))
data.dtypes

35887

objectid                           int64
opa_number                       float64
street_address                    object
zip_code                         float64
zip_4                            float64
unit_type                         object
unit_num                          object
owner                             object
co_owner                          object
principal_due                    float64
penalty_due                      float64
interest_due                     float64
other_charges_due                float64
total_due                        float64
is_actionable                       bool
payment_agreement                   bool
num_years_owed                     int64
most_recent_year_owed              int64
oldest_year_owed                   int64
most_recent_payment_date          object
year_of_last_assessment          float64
total_assessment                 float64
taxable_assessment               float64
mailing_address                   object
mailing_city                      object
mailing_state                     object
mailing_zip                      float64
return_mail                       object
building_code                     object
detail_building_description       object
general_building_description      object
building_category                 object
coll_agency_num_years              int64
coll_agency_most_recent_year     float64
coll_agency_oldest_year          float64
coll_agency_principal_owed       float64
coll_agency_total_owed           float64
exempt_abatement_assessment      float64
homestead_value                  float64
net_tax_value_after_homestead    float64
agreement_agency                  object
sequestration_enforcement           bool
bankruptcy                          bool
years_in_bankruptcy              float64
most_recent_bankrupt_year        float64
oldest_bankrupt_year             float64
principal_sum_bankrupt_years     float64
total_amount_bankrupt_years      float64
sheriff_sale                      object
liens_sold_1990s                    bool
liens_sold_2015                   object
assessment_under_appeal             bool
year_month                         int64
lat                              float64
lng                              float64
dtype: object

In [ ]:
data = data[~pd.isna(data.zip_code)]
data = data[~pd.isna(data.zip_4)]

In [ ]:
print(len(data))
data.dtypes

33353

objectid                           int64
opa_number                       float64
street_address                    object
zip_code                         float64
zip_4                            float64
unit_type                         object
unit_num                          object
owner                             object
co_owner                          object
principal_due                    float64
penalty_due                      float64
interest_due                     float64
other_charges_due                float64
total_due                        float64
is_actionable                       bool
payment_agreement                   bool
num_years_owed                     int64
most_recent_year_owed              int64
oldest_year_owed                   int64
most_recent_payment_date          object
year_of_last_assessment          float64
total_assessment                 float64
taxable_assessment               float64
mailing_address                   object
mailing_city                      object
mailing_state                     object
mailing_zip                      float64
return_mail                       object
building_code                     object
detail_building_description       object
general_building_description      object
building_category                 object
coll_agency_num_years              int64
coll_agency_most_recent_year     float64
coll_agency_oldest_year          float64
coll_agency_principal_owed       float64
coll_agency_total_owed           float64
exempt_abatement_assessment      float64
homestead_value                  float64
net_tax_value_after_homestead    float64
agreement_agency                  object
sequestration_enforcement           bool
bankruptcy                          bool
years_in_bankruptcy              float64
most_recent_bankrupt_year        float64
oldest_bankrupt_year             float64
principal_sum_bankrupt_years     float64
total_amount_bankrupt_years      float64
sheriff_sale                      object
liens_sold_1990s                    bool
liens_sold_2015                   object
assessment_under_appeal             bool
year_month                         int64
lat                              float64
lng                              float64
dtype: object

In [ ]:
cols = ['objectid','total_due','zip_code','zip_4']
data = data[cols]

In [ ]:
data.zip_code = data.zip_code.astype(int)
data.zip_4 = data.zip_4.astype(int)

print(any(pd.isna(data.zip_code)))
print(any(pd.isna(data.zip_4)))

False
False

In [ ]:
print(len(data))
data.dtypes

33353

objectid       int64
total_due    float64
zip_code       int64
zip_4          int64
dtype: object

In [ ]:
len(data) == len(data.objectid.unique())

True

In [ ]:
sum(data.total_due)

210983873.40999743

In [ ]:
#data.groupby(['zip_code','zip_4']).agg({'total_due':['sum','median']})
df1 = data.groupby(['zip_code','zip_4'],as_index = False).agg({'total_due':['sum','median']})
df1 = df1.set_axis(['zip_code','zip_4','total','avg'],axis = 1)

data = df1
del df1

In [ ]:
data

In [ ]:
%%R
data <-
 data %>%
  group_by(zip_code) %>%
  mutate(
      rank = row_number(-total)) %>%
  filter(rank < 4)  %>%  
  arrange(zip_code, rank)

In [ ]:
data['rank'] = data.groupby(['zip_code'])['total'].rank(ascending = False, method = 'dense')
data = data[data['rank'] < 4]
data = data.sort_values(by = ['zip_code','rank'])

In [ ]:
data.head(15)

In [ ]:
data[data['rank']==1]

In [ ]:
data

       zip_code  zip_4      total        avg  rank
13        19102   4223  461709.21    4233.01   1.0
8         19102   3724  326588.73  326588.73   2.0
0         19102   1101  166976.02   83488.01   3.0
65        19103   6305  247298.25  247298.25   1.0
50        19103   4902  201414.62  201414.62   2.0
...         ...    ...        ...        ...   ...
15621     19153   3516   46277.89   46277.89   3.0
15722     19154   3707   68446.98   68446.98   1.0
15744     19154   4337   52404.98   26202.49   2.0
15664     19154   1908   46801.23   46801.23   3.0
15747     19192      3  343154.95  343154.95   1.0

[140 rows x 5 columns]

In [ ]:
write.csv(result[,c("row_number","label")], '/content/drive/MyDrive/ANLY560/results.csv')