<a href="https://colab.research.google.com/github/adukeshav2021/Anly_560/blob/main/ExamSolution1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
library(dplyr)
library(stringr)
library(forcats)
library(lubridate)

In [42]:
raw_data <- read.csv('/content/covid.csv')

In [43]:
data <- raw_data

In [ ]:
head(data)

In [45]:
data <- 
data %>%
select(Vaccine,
Doses,
County,
Date)

In [46]:
head(data)

  Vaccine         Doses County    Date
1 Janssen Vaccine  100  Allegheny 10/26/2021
2 Moderna Vaccine  280  Beaver    08/24/2021
3 Pfizer Vaccine  1170  Delaware  08/31/2021
4 Pfizer Vaccine  1170  Dauphin   06/08/2021
5 Moderna          100  Lycoming  01/18/2021
6 Moderna Vaccine  280  York      06/22/2021

In [47]:
#print(sum(is.na(data$County)))
#print(sum(str_trim(data$County) !=''))
#xtabs(~data$County)
data <-
  data %>%
  mutate(County = str_trim(County)) %>%
  filter(County !='') %>%
  mutate(County = str_replace(County,' County','')) %>%
  mutate(
    County = fct_collapse(
      County,
      Bucks = c('Buck','Bucks'),
      Tioga = c('Tioa','Tioga'),
      Luzerne = c('Luzerne','Lzuerne'),
      McKean = c('McKean','Mckean'),
      Northampton = c('Northampton','North Hampton'),
      Venango = c('Venango','Venego')
    )
  )

In [48]:
#xtabs(~data$County)

t1<-xtabs(~data$County)
unique(names(t1))
length(t1)

 [1] "Adams"          "Allegheny"      "Armstrong"      "Beaver"
 [5] "Bedford"        "Berks"          "Blair"          "Bradford"
 [9] "Bucks"          "Butler"         "Cambria"        "Cameron"
[13] "Carbon"         "Centre"         "Chester"        "Clarion"
[17] "Clearfield"     "Clinton"        "Columbia"       "Crawford"
[21] "Cumberland"     "Dauphin"        "Delaware"       "Elk"
[25] "Erie"           "Fayette"        "Franklin"       "Fulton"
[29] "Greene"         "Huntingdon"     "Indiana"        "Jefferson"
[33] "Juniata"        "Lackawanna"     "Lancaster"      "Lawrence"
[37] "Lebanon"        "Lehigh"         "Luzerne"        "Lycoming"
[41] "McKean"         "Mercer"         "Mifflin"        "Monroe"
[45] "Montgomery"     "Montour"        "Northampton"    "Northumberland"
[49] "Perry"          "Philadelphia"   "Pike"           "Potter"
[53] "Schuylkill"     "Snyder"         "Somerset"       "Susquehanna"
[57] "Tioga"          "Union"          "Venango"        "Warren"
[61] "Washington"     "Wayne"          "Westmoreland"   "Wyoming"
[65] "York"

[1] 65

In [49]:
#print(sum(is.na(data$Vaccine)))
#print(sum(str_trim(data$Vaccine) !=''))
#xtabs(~data$Vaccine)

In [50]:
data <-
  data %>%
  mutate(Vaccine = str_trim(Vaccine)) %>%
  filter(Vaccine !='') %>%
  mutate(
    Vaccine = fct_collapse(
      Vaccine,
      Janssen = c('Janssen Vaccine'),
      Moderna = c('Moderna Vaccine','Moderna'),
      Pfizer = c('Pfizer','Pfizer Pediatric Vaccine','Pfizer Vaccine')
          )
  )

In [51]:
xtabs(~data$Vaccine)

data$Vaccine
Janssen Moderna  Pfizer
   2843   20659    4888

In [52]:
#print(sum(is.na(data$Doses)))
data <- 
  data %>%
  filter(!is.na(data$Doses))

In [53]:
#print(sum(is.na(data$Date)))
data <- 
  data %>%
  mutate(Date = mdy(Date)) %>%
  filter(!is.na(Date)) %>%
  mutate(Month = month(Date,label = T, abbr = F))

In [54]:
head(data)

  Vaccine Doses County    Date       Month
1 Janssen  100  Allegheny 2021-10-26 October
2 Moderna  280  Beaver    2021-08-24 August
3 Pfizer  1170  Delaware  2021-08-31 August
4 Pfizer  1170  Dauphin   2021-06-08 June
5 Moderna  100  Lycoming  2021-01-18 January
6 Moderna  280  York      2021-06-22 June

In [55]:
data %>%
group_by(Vaccine) %>%
summarize(Total = sum(Doses)) %>%
arrange(-Total)

  Vaccine Total
1 Pfizer  5071510
2 Moderna 3348420
3 Janssen  391900

In [56]:
data %>%
group_by(County) %>%
summarize(Total = sum(Doses)) %>%
arrange(-Total)

   County         Total
1  Allegheny      1133470
2  Montgomery      815013
3  Delaware        527470
4  Bucks           480987
5  Chester         420660
6  Beaver          394500
7  York            337560
8  Berks           285540
9  Lehigh          282360
10 Luzerne         277540
11 Cumberland      268790
12 Westmoreland    245300
13 Erie            241154
14 Dauphin         232050
15 Lancaster       205710
16 Lackawanna      201300
17 Northampton     161460
18 Monroe          153170
19 Northumberland  138370
20 Butler          126270
21 Snyder          121760
22 Schuylkill      119440
23 Washington      116660
24 Cambria         108830
25 Mercer          108380
26 Blair           105270
27 Centre           95050
28 Fayette          86920
29 Lycoming         72510
30 Lebanon          69090
⋮  ⋮              ⋮
36 Columbia       46380
37 Clearfield     45210
38 Bradford       37430
39 Venango        36610
40 Crawford       35606
41 Carbon         30020
42 Armstrong      29180
43 Elk            26610
44 Somerset       26610
45 Huntingdon     25320
46 Perry          24450
47 McKean         22970
48 Tioga          21410
49 Montour        19880
50 Susquehanna    18080
51 Greene         17500
52 Mifflin        16660
53 Bedford        16270
54 Jefferson      13770
55 Clinton        13640
56 Union          13620
57 Wyoming        13280
58 Warren         12940
59 Pike           12360
60 Clarion        11500
61 Potter          7190
62 Cameron         5510
63 Juniata         2880
64 Philadelphia     500
65 Fulton           400

In [69]:
t1<-
  data %>%
  group_by(County,Month) %>%
  #filter(County == 'York') %>%
  summarize(Total = sum(Doses)) %>%
  #as.data.frame() %>% #For two levels of grouping
  group_by(County) %>%
  mutate(rank = row_number(-Total)) %>%
  filter(rank == 1) %>%
  select(County,Month) %>%
  arrange(County)

  write.csv(t1,'covid.results.csv', row.names =F)

`summarise()` has grouped output by 'County'. You can override using the `.groups` argument.