# **Aditya Keshav**

1. What is PA's preferred vaccine brand? (***Pfizer***) How much has been distributed? (***5071510.0***)
2. Which county received the most vaccine doses?(**Allegheny**) How much has been distributed? (**1133470.0**)
3. On a per county basis, what month received the most vaccine doses?

In [56]:
import pandas as pd
import numpy as np

In [95]:
data_raw = pd.read_csv('/content/covid.csv')

In [500]:
data = data_raw

In [501]:
print(len(data))
data.dtypes #28393

28393

Pharmacy       object
Address 1      object
City           object
County         object
State          object
Zip            object
Vaccine        object
Date           object
Doses         float64
GeoLatLong     object
dtype: object

In [502]:
data.columns

Index(['Pharmacy', 'Address 1', 'City', 'County', 'State', 'Zip', 'Vaccine',
       'Date', 'Doses', 'GeoLatLong'],
      dtype='object')

In [503]:
dict = {
    'Retail Pharmacy Partner Name': 'Pharmacy',
    'Address 1': 'Address 1',
    'City': 'City',
    'County': 'County',
    'State': 'State',
    'Zip Code': 'Zip',
    'Vaccine': 'Vaccine',
    'Date': 'Date',
    'Doses': 'Doses',
    'Georeferenced Latitude & Longitude': 'GeoLatLong'
    }
data.rename(columns = dict, inplace = True)

In [504]:
data.columns

Index(['Pharmacy', 'Address 1', 'City', 'County', 'State', 'Zip', 'Vaccine',
       'Date', 'Doses', 'GeoLatLong'],
      dtype='object')

In [505]:
#data = data[~pd.isna(data.Zip)]
data = data[~pd.isna(data.Vaccine)]
data = data[~pd.isna(data.Doses)]
#data = data[~pd.isna(data.GeoLatLong)]
data = data[~pd.isna(data.County)]
data = data[~pd.isna(data.Date)]

data = data[~(data['County'].str.strip() == '')]

In [506]:
data.Date = pd.to_datetime(data.Date, format = '%m/%d/%Y')

In [507]:
print(len(data))
data.dtypes #28382

28382

Pharmacy              object
Address 1             object
City                  object
County                object
State                 object
Zip                   object
Vaccine               object
Date          datetime64[ns]
Doses                float64
GeoLatLong            object
dtype: object

In [508]:
data

                     Pharmacy  ...                    GeoLatLong
0              Rite Aid 04965  ...                           NaN
1              Rite Aid 02277  ...                           NaN
2             Sav-on Pharmacy  ...                           NaN
3            Cvs Store #01640  ...                           NaN
4            Weis Markets Inc  ...                           NaN
...                       ...  ...                           ...
28388          Rite Aid 03775  ...  POINT (-75.675203 41.418016)
28389  Walgreens Store #10549  ...  POINT (-79.389794 40.285861)
28390          Rite Aid 00819  ...  POINT (-75.646124 40.245125)
28391          Rite Aid 11075  ...  POINT (-75.772832 41.320516)
28392  Walmart Pharmacy #4348  ...  POINT (-78.432843 40.370159)

[28382 rows x 10 columns]

In [509]:
cols = ['County','Vaccine','Date','Doses']
data = data[cols]

In [510]:
data

             County          Vaccine       Date   Doses
0         Allegheny  Janssen Vaccine 2021-10-26   100.0
1            Beaver  Moderna Vaccine 2021-08-24   280.0
2          Delaware   Pfizer Vaccine 2021-08-31  1170.0
3           Dauphin   Pfizer Vaccine 2021-06-08  1170.0
4          Lycoming          Moderna 2021-01-18   100.0
...             ...              ...        ...     ...
28388    Lackawanna  Janssen Vaccine 2021-12-07   100.0
28389  Westmoreland  Moderna Vaccine 2021-12-07   200.0
28390    Montgomery  Moderna Vaccine 2021-12-07   100.0
28391       Luzerne  Moderna Vaccine 2021-12-07   100.0
28392         Blair   Pfizer Vaccine 2021-12-07  1170.0

[28382 rows x 4 columns]

In [511]:
print(len(data))
data.dtypes

28382

County             object
Vaccine            object
Date       datetime64[ns]
Doses             float64
dtype: object

In [512]:
data.Vaccine.replace(to_replace='Pfizer Vaccine', value='Pfizer', inplace=True, limit=None, regex=True, method='pad')

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [513]:
data.Vaccine.replace(to_replace='Pfizer Pediatric Vaccine', value='Pfizer', inplace=True, limit=None, regex=True, method='pad')

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [514]:
data

             County          Vaccine       Date   Doses
0         Allegheny  Janssen Vaccine 2021-10-26   100.0
1            Beaver  Moderna Vaccine 2021-08-24   280.0
2          Delaware           Pfizer 2021-08-31  1170.0
3           Dauphin           Pfizer 2021-06-08  1170.0
4          Lycoming          Moderna 2021-01-18   100.0
...             ...              ...        ...     ...
28388    Lackawanna  Janssen Vaccine 2021-12-07   100.0
28389  Westmoreland  Moderna Vaccine 2021-12-07   200.0
28390    Montgomery  Moderna Vaccine 2021-12-07   100.0
28391       Luzerne  Moderna Vaccine 2021-12-07   100.0
28392         Blair           Pfizer 2021-12-07  1170.0

[28382 rows x 4 columns]

In [515]:
data.Vaccine.replace(to_replace='Moderna Vaccine', value='Moderna', inplace=True, limit=None, regex=True, method='pad')

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [516]:
data

             County          Vaccine       Date   Doses
0         Allegheny  Janssen Vaccine 2021-10-26   100.0
1            Beaver          Moderna 2021-08-24   280.0
2          Delaware           Pfizer 2021-08-31  1170.0
3           Dauphin           Pfizer 2021-06-08  1170.0
4          Lycoming          Moderna 2021-01-18   100.0
...             ...              ...        ...     ...
28388    Lackawanna  Janssen Vaccine 2021-12-07   100.0
28389  Westmoreland          Moderna 2021-12-07   200.0
28390    Montgomery          Moderna 2021-12-07   100.0
28391       Luzerne          Moderna 2021-12-07   100.0
28392         Blair           Pfizer 2021-12-07  1170.0

[28382 rows x 4 columns]

In [517]:
data.County.replace(to_replace=' County', value='', inplace=True, limit=None, regex=True, method='pad')

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [518]:
data

             County          Vaccine       Date   Doses
0         Allegheny  Janssen Vaccine 2021-10-26   100.0
1            Beaver          Moderna 2021-08-24   280.0
2          Delaware           Pfizer 2021-08-31  1170.0
3           Dauphin           Pfizer 2021-06-08  1170.0
4          Lycoming          Moderna 2021-01-18   100.0
...             ...              ...        ...     ...
28388    Lackawanna  Janssen Vaccine 2021-12-07   100.0
28389  Westmoreland          Moderna 2021-12-07   200.0
28390    Montgomery          Moderna 2021-12-07   100.0
28391       Luzerne          Moderna 2021-12-07   100.0
28392         Blair           Pfizer 2021-12-07  1170.0

[28382 rows x 4 columns]

In [519]:
df1 = data.groupby(['Vaccine'],as_index = False).sum({'Doses':['sum','median']})
df1 = df1.set_axis(['Vaccine','totalDistribution'],axis = 1)

In [520]:
df1['rank'] = df1.groupby(['Vaccine'])['totalDistribution'].rank(ascending = False, method = 'dense')
df1 = df1[df1['rank'] < 4]
df1 = df1.sort_values(by = ['Vaccine','rank'])

In [521]:
df1.sort_values(by=['totalDistribution'],ascending=False)

           Vaccine  totalDistribution  rank
2           Pfizer          5071510.0   1.0
1          Moderna          3348420.0   1.0
0  Janssen Vaccine           391900.0   1.0

In [522]:
df2 = data.groupby(['County'],as_index = False).agg({'Doses':['sum','median']})
df2 = df2.set_axis(['County','totalDistribution','avg'],axis = 1)

In [523]:
df2['rank'] = df2.groupby(['County'])['totalDistribution'].rank(ascending = False, method = 'dense')
df2 = df2[df2['rank'] < 4]
df2 = df2.sort_values(by = ['County','rank'])

In [524]:
df2.sort_values(by=['totalDistribution'],ascending=False)

          County  totalDistribution    avg  rank
1      Allegheny          1133470.0  140.0   1.0
47    Montgomery           815013.0  140.0   1.0
23      Delaware           527470.0  200.0   1.0
9          Bucks           480587.0  140.0   1.0
15       Chester           420660.0  140.0   1.0
..           ...                ...    ...   ...
53  Philadelphia              500.0  200.0   1.0
28        Fulton              400.0  100.0   1.0
8           Buck              400.0  100.0   1.0
60          Tioa              100.0  100.0   1.0
41       Lzuerne              100.0  100.0   1.0

[71 rows x 4 columns]

In [534]:
df2['Month'] = (data['Date']).dt.month

In [543]:
df3 = data.groupby(['County','Month'],as_index=False).agg({'Doses':['sum','median']})
df3 = df3.set_axis(['County','Month','totalDistribution','avg'],axis=1)
df3['rank'] = df3.groupby(['County'])['totalDistribution'].rank('dense', ascending=False)
df3 = df3[df3['rank']<2]

In [544]:
df3.sort_values(by=['totalDistribution'],ascending=False)

         County  Month  totalDistribution    avg  rank
22    Allegheny     11           172700.0  200.0   1.0
532  Montgomery     11           150090.0  200.0   1.0
275    Delaware     11            96610.0  200.0   1.0
45       Beaver     10            88900.0  140.0   1.0
109       Bucks     11            74910.0  140.0   1.0
..          ...    ...                ...    ...   ...
326      Fulton      9              200.0  200.0   1.0
325      Fulton      4              200.0  100.0   1.0
98         Buck      3              200.0  100.0   1.0
656        Tioa      2              100.0  100.0   1.0
470     Lzuerne      2              100.0  100.0   1.0

[73 rows x 5 columns]

In [551]:
df4 = df3.filter(['County','Month'], axis=1)

In [552]:
df4

           County  Month
7           Adams      8
22      Allegheny     11
28      Armstrong      5
45         Beaver     10
57        Bedford     10
..            ...    ...
716    Washington     10
722         Wayne      4
741  Westmoreland     11
751       Wyoming      9
762          York      8

[73 rows x 2 columns]

In [553]:
df4.to_csv('/content/result.python.csv', index=False,encoding='utf-8')