<a href="https://colab.research.google.com/github/adukeshav2021/Anly_560/blob/main/ExamSolution2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(dplyr)

In [2]:
raw_data <- read.csv('/content/wages.csv')

In [6]:
data <- raw_data

data <-
  data %>%
  select(
    County = Area.Name,
    Sector = NAICS.Title,
    Wages = Weekly.Wages,
    Employment)

In [7]:
head(data)

  County                Sector                             Wages Employment
1 Greene County         Educational Services                NA     NA
2 McKean County         Finance and Insurance              795    276
3 Armstrong County      Wholesale Trade                    949    399
4 Warren County         Public Administration              861    587
5 Northumberland County Retail Trade                       502   2794
6 Lebanon County        Real Estate and Rental and Leasing 652    324

In [26]:
t1 <- xtabs(~data$County)
#length(t1)
#unique(names(t1))

t0 <-
  data%>%
  filter(County != 'Pennsylvania')
t1<-
  t0%>%
    filter(Sector == 'Total, All Industries') %>%
    arrange(-Wages)
 #   t1[1,]

t2<-
t0 %>%
  filter(Sector == 'Total, All Industries') %>%
  filter(!is.na(Wages)) %>%
  filter(!is.na(Employment)) %>%
  #filter(County == 'Greene County') %>%
  mutate(CS_Gross = Wages*Employment) %>%
  group_by(County) %>%
  summarize(Gross = sum(CS_Gross)/sum(Employment)) %>%
  arrange(-Gross)
t2[1,]

  County         Gross
1 Chester County 1366

In [30]:
t0<-
  data %>%
    filter(Sector == 'Total, All Industries')

t1<-
  t0 %>%
  filter(County != 'Pennsylvania') %>%
  arrange(-Wages)


 t2<-
  t0 %>%
   filter(County != 'Pennsylvania') %>%
   filter(!is.na(Wages)) %>%
   filter(!is.na(Employment)) %>%
   mutate(CS_Gross = Wages*Employment) %>%
   group_by(County) %>%
   summarize(Gross = sum(CS_Gross)/sum(Employment)) %>%
   arrange(-Gross)
   t2[1,]

  County         Gross
1 Chester County 1366

In [33]:
t1<-
data %>%
  filter(County != 'Pennsylvania') %>%
  filter(Sector != 'Total, All Industries') %>%
   filter(!is.na(Wages)) %>%
   filter(!is.na(Employment)) %>%
   group_by(County) %>%
   mutate(rank = row_number(-Employment)) %>%
   filter(rank==1) %>% 
   select(County,Sector) %>%
   arrange(County)


   write.csv(t1,'wages.results.csv',row.names=F)